<form method="post" action="/contacts/{{contact.id}}/edit">
    
    <p><label>Name</label> <input type="text" name="name" id="name"></p>
    <p><label>Number</label> <input type="text" name="number" id="number"></p>
    <p><label>Email</label> <input type="text" name="email" id="email"></p>
    
    <button type="submit">Submit</button>
</form>  
